[submodule "supertab"]
	path = supertab
	url = git://github.com/ervandew/supertab
[submodule "crefvim"]
	path = crefvim
	url = git://github.com/vim-scripts/CRefVim
[submodule "pydiction"]
	path = pydiction
	url = git://github.com/vim-scripts/Pydiction.git
[submodule "snipmate"]
	path = snipmate
	url = git://github.com/msanders/snipmate.vim.git
[submodule "nerdtree"]
	path = nerdtree
	url = git://github.com/scrooloose/nerdtree.git
